<!DOCTYPE html>
<html>

<head>

<title>Admin Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="login-container">

<div class="login-box">

<h2>Admin Login</h2>

<form action="/admin_login" method="POST">

<input
type="text"
name="username"
placeholder="Username"
required>

<input
type="password"
name="password"
placeholder="Password"
required>

<button class="login-btn">

Login

</button>

</form>

</div>

</div>

</body>

</html>