<!DOCTYPE html>
<html>
<head>

<title>Book Search</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sidebar">

<h2>Campus360</h2>

<ul>

<li><a href="/student_dashboard">Dashboard</a></li>

<li><a href="/book_search">Book Search</a></li>

<li><a href="/logout">Logout</a></li>

</ul>

</div>

<div class="main">

<h2>Search Library Books</h2>

<div class="form-box">

<form method="POST">

<input
type="text"
name="book"
placeholder="Enter Book Name"
required>

<button class="btn">

Search

</button>

</form>

</div>

{% if books %}

<table>

<tr>

<th>Book Name</th>

<th>Author</th>

<th>Available</th>

</tr>

{% for b in books %}

<tr>

<td>{{ b['book_name'] }}</td>

<td>{{ b['author'] }}</td>

<td>{{ b['quantity'] }}</td>

</tr>

{% endfor %}

</table>

{% endif %}

</div>

</body>

</html>