<!DOCTYPE html>

<html>

<head>

<title>Profile</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sidebar">

<h2>Campus360</h2>

<ul>

<li><a href="/student_dashboard">Dashboard</a></li>

<li><a href="/profile">Profile</a></li>

<li><a href="/logout">Logout</a></li>

</ul>

</div>

<div class="main">

<div class="profile-card">

<img src="{{ url_for('static', filename='student.png') }}" class="profile-img">

<h2>{{ student['name'] }}</h2>

<p><b>Roll No:</b> {{ student['rollno'] }}</p>

<p><b>Branch:</b> {{ student['branch'] }}</p>

<p><b>Year:</b> {{ student['year'] }}</p>

<p><b>Section:</b> {{ student['section'] }}</p>

<p><b>Phone:</b> {{ student['phone'] }}</p>

<p><b>Email:</b> {{ student['email'] }}</p>

</div>

</div>

</body>

</html>